BASE_URL=""
DEBUG="On"
DB_NAME=""
DB_USER=""
DB_PASS=""
DB_HOST=""
DB_PORT=""
STATIC_URL="/assets/"
STATIC_ROOT=""
STATIC_DIRS=""
MEDIA_URL="/files/"
MEDIA_ROOT=""
ALLOWED_HOSTS="http://localhost:8080"
DEBUG_TOOLBAR_ENABLED="On"
