{% extends "default/base.html" %}
{% load static %}

{% block page_css %}
  {{ block.super }}
  <style>
    body {
      background-color: #f5f5f5;
    }
    form {
      width: 100%;
      max-width: 330px;
      margin: 10px auto;
    }
    form > label {
      text-align: left;
    }
  </style>
{% endblock page_css %}

{% block page_content %}
<div class="container">
  <form action="{% url 'memberships:forget_pass' %}" method="post">
    {% csrf_token %}
    <div class="text-center">
      <img src="{% static 'statics/django-logo.png' %}" alt="Django" style="width: 100px">
    </div>
    <hr>
    <h1 class="h3 font-weight-normal text-center">Forget Password</h1>
    <hr>
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <div class="alert alert-warning">
            {{ message }}
          </div>
        {% endif %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger">
            {{ message }}
          </div>
        {% endif %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="form-group">
      <input type="email" class="form-control form-control-lg" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock page_content %}
